.utility-desktop{
	display: none;
	@include md { 
		display: block;
		background: rgba($brand-primary, 0.95);
	}

	ul{
		list-style: none;
		float: right;
		margin: 0;
		li{
			display: inline;
			a{
				display: inline-block;
				padding: 10px;
				color: #fff;
				transition: padding 0.3s;
				@include md {
					font-size:14px;
				}

			}

		}


	}
}

header{
	padding: 15px;
	border-bottom: 1px solid $gray;
}

.branding{
	float: left;

	h1{
		margin: 0;
	}
}

.nav-mobile{
	float: right;
	@include md { 
		display: none;
	}	
}

.mobile-menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($brand-primary, 0.95);
	z-index: 97;

	>div{
		max-width: 400px;
		max-height: 80%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul{
			list-style: none;
			padding: 20px;
			margin: 0;
			li{
				line-height: 1.8;
				padding: 0 30px 0 10px;
				a{
					display: block;
					color: #fff;
					font-size: 22px;
					transition: padding 0.3s;
					border-bottom: 1px solid #fff;
				}
			}
		
			&.sub-menu{
				display: none;
			}
		}
	}

}



#mobile-menu{
	margin-top:0;
	width: 30px;
	height: 18px;
	position: relative;
	padding: 17px 0;
	transform: rotate(0deg);
	transition: 0.3s ease-in-out;
	cursor: pointer;
	z-index: 99;
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $brand-primary;
		border-radius: 0;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;

		&:nth-child(1) {
			top: 8px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 16px;
		}

		&:nth-child(4) {
			top: 24px;
		}

	}
	&.open span{
		background: #fff;

		&:nth-child(1) {
			top: 8px;
			width: 0%;
			left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}

.nav-desktop{
	display: none;
	@include md { 
		display: block;
		float: right;
	}

	ul{
		list-style: none;
		margin: 12px 0px 0;

		li{
			display: inline;
			a{
				display: inline-block;
				margin: 0 20px;
				color: $gray;
				transition: padding 0.3s;
				@include md {
					font-size: 14px;
				}

			}

		}
	}

	.sub-menu{
		display: none;
	}

}