.block-banner{
    position: relative;
    height: 400px;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.5);
    }
    .content{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .link{
            a{
                color: #fff !important;
                transition: all 0.3s;
            }
        }
    }
}