/***
 * 
 * Button Styles
 *  
 ***/
 
$button-bg: $brand-primary;
$button-color: #fff;
$button-hover-bg: #333;
$button-hover-color:#fff;
$button-disabled-bg:#eee;

.btn{
	background-color: $button-bg;
	color: #fff;

	&:hover, &:active{
		background-color: $button-hover-bg;
		color: $button-hover-color;
	}

	&:disabled{
		background: $button-disabled-bg;
	}
}