.woocommerce { 

	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), select, textarea {
		@extend .form-control;

		&[type="number"] {
			width:60px;
		}
	}

	a.remove {
		vertical-align: top;
		height: 20px;
		width: 20px;
		padding: 1px 0 0 1px;
		font-size: 15px;
	}

	// Buttons
	#respond input#submit, 
	a.button, 
	button.button, 
	input.button{

		&.alt{
			background-color: theme-color('primary');
			color:#fff;

			&:hover, &:active{
				background-color: darken(theme-color('primary'), 10%);
				color: theme-color('light');
			}

			&:disabled{
				background: lighten(theme-color('primary'), 5%);
			}	
		}
	}

	#sidebar{
		display:none;
	}

}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    min-width: 100px;
}

#add_payment_method table.cart input, 
.woocommerce-cart table.cart input, 
.woocommerce-checkout table.cart input {
	line-height: inherit;
}

.wc-proceed-to-checkout{
	text-align:right;
}

.woocommerce-order-received{

	.woocommerce{
		@include make-container();

		.woocommerce-order{
			@include make-row();
			margin:0;
		}
	}

}

