.margin-top{

	&-sm{
		margin-top:rem-calc(20px);
	}

	&-md{
		margin-top:rem-calc(40px);
	}

	&-lg{
		margin-top:rem-calc(60px);
	}

	&-xl{
		margin-top:rem-calc(80px);
	}

}


.margin-right{

	&-sm{
		margin-right:rem-calc(20px);
	}

	&-md{
		margin-right:rem-calc(40px);
	}

	&-lg{
		margin-right:rem-calc(60px);
	}

	&-xl{
		margin-right:rem-calc(80px);
	}

}


.margin-bottom{

	&-sm{
		margin-bottom:rem-calc(20px);
	}

	&-md{
		margin-bottom:rem-calc(40px);
	}

	&-lg{
		margin-bottom:rem-calc(60px);
	}

	&-xl{
		margin-bottom:rem-calc(80px);
	}

}


.margin-left{

	&-sm{
		margin-left:rem-calc(20px);
	}

	&-md{
		margin-left:rem-calc(40px);
	}

	&-lg{
		margin-left:rem-calc(60px);
	}

	&-xl{
		margin-left:rem-calc(80px);
	}

}

.padding-top{

	&-sm{
		padding-top:rem-calc(20px);
	}

	&-md{
		padding-top:rem-calc(40px);
	}

	&-lg{
		padding-top:rem-calc(60px);
	}

	&-xl{
		padding-top:rem-calc(80px);
	}

}


.padding-right{

	&-sm{
		padding-right:rem-calc(20px);
	}

	&-md{
		padding-right:rem-calc(40px);
	}

	&-lg{
		padding-right:rem-calc(60px);
	}

	&-xl{
		padding-right:rem-calc(80px);
	}

}


.padding-bottom{

	&-sm{
		padding-bottom:rem-calc(20px);
	}

	&-md{
		padding-bottom:rem-calc(40px);
	}

	&-lg{
		padding-bottom:rem-calc(60px);
	}

	&-xl{
		padding-bottom:rem-calc(80px);
	}

}


.padding-left{

	&-sm{
		padding-left:rem-calc(20px);
	}

	&-md{
		padding-left:rem-calc(40px);
	}

	&-lg{
		padding-left:rem-calc(60px);
	}

	&-xl{
		padding-left:rem-calc(80px);
	}

}