.margin-top{

	&-small{
		margin-top:20px;
	}

	&-medium{
		margin-top:40px;
	}

	&-large{
		margin-top:60px;
	}

	&-xlarge{
		margin-top:80px;
	}

}


.margin-right{

	&-small{
		margin-right:20px;
	}

	&-medium{
		margin-right:40px;
	}

	&-large{
		margin-right:60px;
	}

	&-xlarge{
		margin-right:80px;
	}

}


.margin-bottom{

	&-small{
		margin-bottom:20px;
	}

	&-medium{
		margin-bottom:40px;
	}

	&-large{
		margin-bottom:60px;
	}

	&-xlarge{
		margin-bottom:80px;
	}

}


.margin-left{

	&-small{
		margin-left:20px;
	}

	&-medium{
		margin-left:40px;
	}

	&-large{
		margin-left:60px;
	}

	&-xlarge{
		margin-left:80px;
	}

}

.padding-top{

	&-small{
		padding-top:20px;
	}

	&-medium{
		padding-top:40px;
	}

	&-large{
		padding-top:60px;
	}

	&-xlarge{
		padding-top:80px;
	}

}


.padding-right{

	&-small{
		padding-right:20px;
	}

	&-medium{
		padding-right:40px;
	}

	&-large{
		padding-right:60px;
	}

	&-xlarge{
		padding-right:80px;
	}

}


.padding-bottom{

	&-small{
		padding-bottom:20px;
	}

	&-medium{
		padding-bottom:40px;
	}

	&-large{
		padding-bottom:60px;
	}

	&-xlarge{
		padding-bottom:80px;
	}

}


.padding-left{

	&-small{
		padding-left:20px;
	}

	&-medium{
		padding-left:40px;
	}

	&-large{
		padding-left:60px;
	}

	&-xlarge{
		padding-left:80px;
	}

}