body{

	line-height:1;
	margin-bottom:-1px;

	img{
		display:block;
		max-width:100%;
		height:auto;
	}
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }