/******
* 
* Add Sequence-dependent files
*  
******/

/*
* Variables
*/
@import 'common/variables';
@import 'common/mixins';

@import '../vendor/boostrap/scss/functions';
@import '../vendor/boostrap/scss/variables';
@import '../vendor/boostrap/scss/mixins';
@import '../vendor/boostrap/scss/root';
@import '../vendor/boostrap/scss/reboot';
@import '../vendor/boostrap/scss/type';
@import '../vendor/boostrap/scss/images';
@import '../vendor/boostrap/scss/code';
@import '../vendor/boostrap/scss/grid';
@import '../vendor/boostrap/scss/tables';
@import '../vendor/boostrap/scss/forms';
@import '../vendor/boostrap/scss/buttons';
@import '../vendor/boostrap/scss/transitions';
@import '../vendor/boostrap/scss/dropdown';
@import '../vendor/boostrap/scss/button-group';
@import '../vendor/boostrap/scss/input-group';
@import '../vendor/boostrap/scss/custom-forms';

// @import '../vendor/boostrap/scss/nav';
// @import '../vendor/boostrap/scss/navbar';
// @import '../vendor/boostrap/scss/card';
// @import '../vendor/boostrap/scss/breadcrumb';
// @import '../vendor/boostrap/scss/pagination';
// @import '../vendor/boostrap/scss/badge';
// @import '../vendor/boostrap/scss/jumbotron';
// @import '../vendor/boostrap/scss/alert';
// @import '../vendor/boostrap/scss/progress';
// @import '../vendor/boostrap/scss/media';
// @import '../vendor/boostrap/scss/list-group';
// @import '../vendor/boostrap/scss/close';
// @import '../vendor/boostrap/scss/modal';
// @import '../vendor/boostrap/scss/tooltip';
// @import '../vendor/boostrap/scss/popover';
// @import '../vendor/boostrap/scss/carousel';
@import '../vendor/boostrap/scss/utilities';
// @import '../vendor/boostrap/scss/print';

/**
 * Wordpress Core
 */
@import 'common/wordpress-core';

/**
 * Slick Slider
 */
@import '../vendor/slick-carousel/slick/slick.scss';

/**
 * Typography
 */
@import '../vendor/font-awesome/web-fonts-with-css/scss/fontawesome.scss';
@import '../vendor/font-awesome/web-fonts-with-css/scss/fa-solid.scss';
@import '../vendor/font-awesome/web-fonts-with-css/scss/fa-regular.scss';
@import '../vendor/font-awesome/web-fonts-with-css/scss/fa-brands.scss';
@import 'common/typography';

/**
 * Global
 */
@import 'common/global';

/**
 * Animations
 */
 @import 'common/animations';

/**
 * Functions
 */
@import 'common/functions';

/***
* Partials
***/
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/slick';


/**
 * Components
 */
// Component styles are injected through gulp
/* inject:scss */
@import '../../blocks/banner/block-banner';
/* endinject */