// Colors
$deep-blue: 		#0B0042;
$gray: 				#eeeeee;

$brand-primary:        teal;

// breakpoints
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1025px;

$fa-font-path: '../vendor/font-awesome/web-fonts-with-css/webfonts';

$theme-colors: (
    "primary": $brand-primary
);
